{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('main-content-second-section') }}>
    <div class="fourth-line">
            <div class="from-science">
              {{ elements.views_block__more_in_science_block_1 }}
            </div>
            <div class="culture">
              {{ elements.views_block__culture_block_1 }}
            </div>
          </div>
          <div class="fifth-line">
            <div class="analysis">
              {{ elements.views_block__analysis_block_1 }}
            </div>
          </div>
          <div class="sixth-line">
            <div class="livewire">
              {{ elements.views_block__from_livewire_block_1 }}
            </div>
            <div class="external-affairs">
              {{ elements.views_block__external_affairs_block_1 }}
            </div>
          </div>
  </div>
{% endif %}
